@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-color: #9f9f9f;
    --inTarefa: #949494;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: var(--font-color);
}

.top-text{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.principal{
    padding: 5rem;
}

.add-tarefa{
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 9px #d3d3d3,
                inset -5px -5px 9px #ededed;
    outline: none;
}

.add-tarefa::placeholder{
    color: var(--inTarefa);
    font-size: 1rem;
}

.btn-add-tarefa{
    padding: 1rem;
    border: none;
    font-size: 1.2rem;
    margin-left: .4rem;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  6px 6px 12px #a8a8a8,
                 -6px -6px 12px #ffffff;
    outline: none;
}

.btn-add-tarefa:hover{
    color: #212121;
}

li{
    width: 20.7rem;
    display: flex;
    justify-content:space-between;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    padding: .8rem;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 9px #d3d3d3,
                inset -5px -5px 9px #ededed;
    align-items: center;
    margin-top: 1rem;
}

.lista{
    list-style: none;
    margin: 1rem 0;
    width: 15rem;
}

.item{
    margin: 1rem 0;
    font-size: 1.2rem;
    padding: .6rem;
    border-radius: .3rem;
}

.btn-acao_trash, .btn-acao_check{
    border: none;
    padding: .3rem;
    font-size: 1.2rem;
    color: #5a5959;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  6px 6px 12px #a8a8a8,
                 -6px -6px 12px #ffffff;

    margin-left: .4rem;
}

.btn-acao_check:hover{
    color: #2da23f;
}

.btn-acao_trash:hover{
    color: #f0426e;
}

.check{
    text-decoration: line-through;
    text-decoration-color: #2da23f;
}

#mensagemErro{
    color: #f0426e;
    font-size: .9rem;
    text-align: center;
}


/* ===== MEDIA QUERY =====  */

@media only screen and (max-width: 600px){
    .top-titulo{
        display: flex;
        justify-content: center;
    }
    
    .top-text{
        font-size: 3rem;
    }

    .form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}